*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

nav a {
    color: blue;
    font-size: 30px;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style-type: none;
    position: fixed;
    top: 0.7rem;
    right: 1rem;
    left: 1rem;
    background-color: antiquewhite;
    justify-content: flex-start;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
    justify-content: center;
}

main {
    margin: 1rem auto;
    width: 80%;
}
.navbar-flexbox {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: beige;
}
.picture-container{
    padding: 3rem;
    width: 95%;
}
.search{
    justify-content: flex-end;
    display: flex;
}